@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Sedan SC", serif;  //Added the google font;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
    background-image: url("Online-Drawing-Tool.png");
    background-size: cover;
    background-position: center;
}
.main-container a{
    /* justify-content: center; */
    margin-right: 100px;
    margin-top: 250px;
    text-decoration: none;
    border: 2px solid rgb(98, 151, 241);
    padding: 15px 25px;
    color: rgb(98, 151, 241);
    font-size: 20px;
    border-radius: 6px;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.4s ease-in-out;
    font-weight: 100;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Black box shadow */
}
.main-container a:hover{
    color: white;
    background-color: rgb(98, 151, 241);
}
